body {
    font-family: Arial, sans-serif; 
    color: #ffffff; 
    background-color: #1f1f1f; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#content {
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #9c27b0; 
    font-size: 24px; 
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    outline: none;
    width: 100%;
    max-width: 300px;
}

input[type="text"]::placeholder {
    color: #999;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9c27b0; 
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7b1fa2; 
}

#countryCards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.card {
    flex: 0 0 calc(33.33% - 20px); 
    background-color: #333; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 300px; 
    box-sizing: border-box; 
}

.card h2 {
    color: #9c27b0; 
    margin-bottom: 10px;
    font-size: 18px; 
}

.card p {
    margin: 5px 0;
    font-size: 14px; 
}

.card img {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 5px;
    font-size: 14px; 
}

.card ul li a {
    color: #9c27b0; 
    text-decoration: none;
}

.card ul li a:hover {
    text-decoration: underline;
}

/* Loader */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #ffffff; 
    border-radius: 50%;
    border-top: 8px solid #9c27b0; 
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Fuente Monocraft */
@font-face {
    font-family: 'Monocraft';
    src: url('./Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="text"] {
        max-width: 100%; 
    }

    .card {
        flex: 0 0 calc(50% - 20px); 
    }

    .card h2 {
        font-size: 16px; 
    }

    .card p,
    .card ul li {
        font-size: 12px; 
    }

    h1 {
        font-size: 20px; 
    }

    #countryCards {
        justify-content: center; /* Center align cards */
    }
}
